In [6]:
import pandas as pd 
import nltk
from nltk.tokenize import TweetTokenizer
from nltk.tokenize import word_tokenize
import re

In [2]:
df = pd.read_csv("train.csv")
text = list(df["text"])
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

### Remove stopwords

In [ ]:
#nltk.download() Opens a GUI to download the stopword corpus

In [23]:
stopwords = nltk.corpus.stopwords.words("English")

tokenizer = TweetTokenizer()
tokens = [tokenizer.tokenize(tweet) for tweet in text]
tokens = [[token.strip() for token in tweets] for tweets in tokens]
filtered_tokens = [[token for token in tweets if token.lower() not in stopwords] for tweets in tokens]

filtered_tweets = [' '.join(x) for x in filtered_tokens]

### Find all hashtags in the corpus

In [17]:
pattern = r'\B(\#[a-zA-Z]+\b)(?!;)'
hashtags = [re.findall(pattern, x) for x in filtered_tweets]
df['Hashtags'] = hashtags
df

,id,keyword,location,text,target,Hashtags
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,[#earthquake]
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,[]
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,[]
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,[#wildfires]
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,"[#Alaska, #wildfires]"
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1,"[#RockyFire, #CAfire, #wildfires]"
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1,"[#flood, #disaster]"
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1,[]
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1,[]
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1,[]
10,16,NaN,NaN,Three people died from the heat wave so far,1,[]
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1,[#flooding]
12,18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1,"[#raining, #flooding, #Florida, #TampaBay, #Ta..."
13,19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1,"[#Flood, #We]"
14,20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1,[#BREAKING]
15,23,NaN,NaN,What's up man?,0,[]
16,24,NaN,NaN,I love fruits,0,[]
17,25,NaN,NaN,Summer is lovely,0,[]
18,26,NaN,NaN,My car is so fast,0,[]
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0,[]
20,31,NaN,NaN,this is ridiculous....,0,[]
21,32,NaN,NaN,London is cool ;),0,[]
22,33,NaN,NaN,Love skiing,0,[]
23,34,NaN,NaN,What a wonderful day!,0,[]
24,36,NaN,NaN,LOOOOOOL,0,[]
25,37,NaN,NaN,No way...I can't eat that shit,0,[]
26,38,NaN,NaN,Was in NYC last week!,0,[]
27,39,NaN,NaN,Love my girlfriend,0,[]
28,40,NaN,NaN,Cooool :),0,[]
29,41,NaN,NaN,Do you like pasta?,0,[]
...,...,...,...,...,...,...
7583,10835,NaN,NaN,Pic of 16yr old PKK suicide bomber who detonat...,1,[]
7584,10837,NaN,NaN,These boxes are ready to explode! Exploding Ki...,0,[#explodingkittens]
7585,10839,NaN,NaN,Calgary Police Flood Road Closures in Calgary....,1,[]
7586,10840,NaN,NaN,#Sismo DETECTADO #JapÌ_n 15:41:07 Seismic inte...,1,[#Sismo]
7587,10841,NaN,NaN,Sirens everywhere!,0,[]
7588,10842,NaN,NaN,BREAKING: #ISIS claims responsibility for mosq...,1,[#ISIS]
7589,10843,NaN,NaN,Omg earthquake,1,[]
7590,10844,NaN,NaN,SEVERE WEATHER BULLETIN No. 5 FOR: TYPHOON ÛÏ...,1,[#HannaPH]
7591,10846,NaN,NaN,Heat wave warning aa? Ayyo dei. Just when I pl...,1,[]
7592,10847,NaN,NaN,An IS group suicide bomber detonated an explos...,1,[]
7593,10848,NaN,NaN,I just heard a really loud bang and everyone i...,0,[]
7594,10849,NaN,NaN,A gas thing just exploded and I heard screams ...,1,[]
7595,10850,NaN,NaN,NWS: Flash Flood Warning Continued for Shelby ...,1,[#tnwx]
7596,10851,NaN,NaN,RT @LivingSafely: #NWS issues Severe #Thunders...,1,"[#NWS, #Thunderstorm, #AR, #NC, #OK]"
7597,10852,NaN,NaN,#??? #?? #??? #??? MH370: Aircraft debris foun...,1,[]
7598,10853,NaN,NaN,Father-of-three Lost Control of Car After Over...,1,[#BathAndNorthEastSomerset]
7599,10854,NaN,NaN,1.3 #Earthquake in 9Km Ssw Of Anza California ...,1,"[#Earthquake, #iPhone]"
7600,10855,NaN,NaN,Evacuation order lifted for town of Roosevelt:...,1,[]
7601,10859,NaN,NaN,#breaking #LA Refugio oil spill may have been ...,1,"[#breaking, #LA]"
7602,10860,NaN,NaN,a siren just went off and it wasn't the Forney...,1,[]
7603,10862,NaN,NaN,Officials say a quarantine is in place at an A...,1,[]
7604,10863,NaN,NaN,#WorldNews Fallen powerlines on G:link tram: U...,1,[#WorldNews]
7605,10864,NaN,NaN,on the flip side I'm at Walmart and there is a...,1,[]
7606,10866,NaN,NaN,Suicide bomber kills 15 in Saudi security site...,1,[]
7607,10867,NaN,NaN,#stormchase Violent Record Breaking EF-5 El Re...,1,[#stormchase]
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,[]
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,[]
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,[]
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,[]
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,[]